extends layout
block content
  .left
    image.logo(src="/images/logo160w.png")
  .left(style="padding-left:70px")
    span(style="font-size:16px;font-weight:bold;text-align:right") WINWIN PRODUCTS
    .clr
    .hdr
      strong CONTACT: YUNG, PAUL, BEN, WALTER, MELISSA, BEKAY
      .addr1 11410 GRISSOM LANE
      .city DALLAS, TX 75229
      .tel TEL. 469-733-5867 FAX. 214-358-2302
      .email E-mail: info@winwinproducts.com 
  .right(style="width: 220px")
    span.right(style="font-size:32px;font-weight:bold;text-align:right") INVOICE 
    .clr
    table.date.right
      tr
        th DATE
        th INVOICE#
      tr
        td #{date}
        td.rt #{num}
      tr
        td OZLINK
        td SHIPPED
  
  .clr
  hr
  .left
    .billto
      strong BILL TO
      .source_name #{source_name}
      .name_street1 #{name_street1}
      .name_street2 #{name_street2}
      .name_city #{name_city}, #{name_state} #{name_zip}
      .name_phone #{name_phone}

  .right
    .shipto
      strong SHIP TO
      .source_name #{source_name}
      .name_street1 #{name_street1}
      .name_street2 #{name_street2}
      .name_city #{name_city}, #{name_state} #{name_zip}
      .name_phone #{name_phone}


  .clr
  table.terms
    thead
      tr.terms
        th VIA
        th F.O.B
        th TERMS
        th DUE DATE
        th P.O.#/ORDERED BY 
        th VENDOR CONTACT
      tr
        td #{via}
        td #{fob}
        td #{terms}
        td #{due_date} 
        td #{poNumber}
        td #{rep}

  table.inv
    thead 
      tr
        th.idx Line
        th.lt.item UPC (ITEM #) / DESCRIPTION
        th.rt.qty QTY
        th.rt.unit UNIT
        th.rt.price PRICE/UNIT
        th.rt.amount AMOUNT
      tr
        td.ct.flush(colspan=6) *ENTER ONLY 11 DIGITS OF UPC FOR RECEIVING. LEAVE OUT LAST CHECK DIGIT. PLEASE SUBMIT INVOICE COPY FOR PAYMENT PROCESSING.* 


    tbody
      each row,idx in lines
        tr
          td.ct.idx #{(idx+1)}
          td.lt.item #{row.memo} 
          td.rt #{row.qty}
          td.rt #{row.u_m}
          td.rt #{row.sales_price}
          td.rt #{row.amount}

      tr(style="height: 20px")
        td.ct.idx 
        td.lt.item 
        td.rt 
        td.rt
        td.rt
        td.rt

      tr
        td(colspan=2,rowspan=3)
          strong(style='font-size:11px') PLEASE SCAN OR ENTER PRODUCT UPC'S FOR RECEIVING.  YOUR TIMELY PAYMENT OF INVOICE IS GREATLY APPRECIATED.  THANK YOU!
        td(colspan=3)
          h4(style="margin: 4px 2px;") SUBTOTAL
        td.rt
          .subtotal #{subtotal}

      tr
        td(colspan=3)
          h4(style="margin: 4px 2px;") TAX
        td.rt
          .subtotal #{tax}

      tr
        td(colspan=3)
          h3(style="margin: 4px 2px;") TOTAL DUE
        td.rt
          .subtotal #{subtotal}

  .note.shade
    p NOTE: ANY DAMAGE MUST BE REPORTED TO US WITHIN 10 DAYS AFTER RECEIPT OF MERCHANDISE, OR NO CREDIT ALLOWED. ANY DAMAGED RACKS AFTER THE 10 DAYS CAN BE REPLACED AT COST. *** PLEASE PROCESS THIS INVOICE TO ENSURE TIMELY PAYMENT. ALL LATE PAYMENTS AFTER 30 DAYS PAST DUE WILL BE CHARGED 0.5% PER MONTH OR 6% PER YEAR.***

